
#accordeon {
  min-height: 0;
  display: inline-block;
  position: relative;
  margin: 1em;
  background-color: #FFFF;
  padding: 0 2em 1em;
  box-sizing: border-box;
  transform: translate(0, 0);
  left: 0;
}


label {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin-right: 2em;
  cursor: pointer;
}
li article {
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
  transition: all 500ms ease;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  color: #666;
}
article,
ul li i:before,
ul li i:after {
  transition: all 0.25s ease-in-out;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid #ccc;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 0;
  right: 1em;
}
ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 3px;
  height: 16px;
}
ul li i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ article {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  margin-top: 9px;
  height: 9px;
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  margin-top: 9px;
  height: 9px;
  transform: translate(-2px, 0) rotate(-45deg);
}
ul li:nth-of-type(1) {
  border-top: none;
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
li {
  animation: bounceInUp 1s ease both;
}
